<ion-view view-title="Animales">

    <ion-content id="fhm_page">
      <div class="fhm_container">
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('animales','cat')" class="push_button">
				      <img src="img/cat.png">
			     </button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('animales','dog')" class="push_button">
              <img src="img/dog.png">
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('animales','sheep')" class="push_button">
              <img src="img/sheep.png">
			</button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('animales','duck')"class="push_button">
              <img src="img/duck.png">
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('animales','turkey')"class="push_button">
              <img src="img/turkey.png">
			</button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('animales','horse')"class="push_button">
              <img src="img/horse.png">
			     </button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
