<ion-view view-title="Banda">
  <ion-content id="fhm_page">
      <div class="fhm_container">
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('banda','drum')" class="push_button_banda">
				      <img src="img/drum.png">
			     </button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('banda','flute')" class="push_button_banda">
              <img src="img/flute.png">
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('banda','guitar')" class="push_button_banda">
              <img src="img/guitar.png">
			</button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('banda','trumpet')"class="push_button_banda">
              <img src="img/trumpet.png">
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('banda','violin')"class="push_button_banda">
              <img src="img/violin.png">
			</button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('banda','xylo')"class="push_button_banda">
              <img src="img/xylo.png">
			     </button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
