<ion-view view-title="Playlist">
  <ion-content id="fhm_page">
      <div class="fhm_container">
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('comic','appear')" class="push_button_comic">
				      <img src="img/appear.png">
			     </button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('comic','arrow')" class="push_button_comic">
              <img src="img/arrow.png">
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('comic','cuckoo')" class="push_button_comic">
              <img src="img/cuckoo.png">
			</button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('comic','flee')"class="push_button_comic">
              <img src="img/flee.png">
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-click="TocarPiano('comic','jump')"class="push_button_comic">
              <img src="img/jump.png">
			</button>
          </div>
          <div class="fhm_item">
            <button ng-click="TocarPiano('comic','slip')"class="push_button_comic">
              <img src="img/slip.png">
			     </button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
