<ion-view view-title="Piano">

    <ion-content id="fhm_page">
      <div class="fhm_container">
        <div class="fhm_row">
          <div class="fhm_item">
            <button class="push_button">
				Push Me
			</button>
          </div>
          <div class="fhm_item">
            <button class="push_button">
				Push Me
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button class="push_button">
				Push Me
			</button>
          </div>
          <div class="fhm_item">
            <button class="push_button">
				Push Me
			</button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button class="push_button">
				Push Me
			</button>
          </div>
          <div class="fhm_item">
            <button class="push_button">
				Push Me
			</button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
